spring:
  application:
    name: devops

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: prometheus,health,info,metrics

  prometheus:
    metrics:
      export:
        enabled: true